/* Simple Theme */
:root[data-theme='simple'] {
	--btn-bg: theme('colors.mamba.500');
	--btn-hover-bg: theme('colors.mamba.600');
	--page-bg: theme('colors.white');
	--primary-card-bg: theme('colors.white');
	--secondary-card-bg: theme('colors.mamba.100');
	--form-border: theme('colors.mamba.300');
	--form-focus-border: theme('colors.fuchsia.500');
	--form-bg: theme('colors.white');
	--link-color: theme('colors.kashmir.600');
	--link-hover-color: theme('colors.kashmir.700');
	--text-color: theme('colors.mamba.900');
	--placeholder-color: theme('colors.mamba.400');
	--user-bubble-bg: theme('colors.mamba.200');
	--bot-bubble-bg: theme('colors.kashmir.200');
	--chat-bar-bg: theme('colors.mamba.50');
	--highlight: theme('colors.fuchsia.400');
	--highlight-dark: theme('colors.fuchsia.600');
}

:root[data-theme='simple'][data-mode='dark'] {
	--btn-bg: theme('colors.fuchsia.500');
	--btn-hover-bg: theme('colors.fuchsia.600');
	--page-bg: theme('colors.mamba.950');
	--primary-card-bg: theme('colors.mamba.900');
	--secondary-card-bg: theme('colors.mamba.800');
	--form-border: theme('colors.mamba.700');
	--form-focus-border: theme('colors.fuchsia.400');
	--form-bg: theme('colors.mamba.900');
	--link-color: theme('colors.kashmir.400');
	--link-hover-color: theme('colors.kashmir.300');
	--text-color: theme('colors.mamba.50');
	--placeholder-color: theme('colors.mamba.600');
	--user-bubble-bg: theme('colors.mamba.800');
	--bot-bubble-bg: theme('colors.kashmir.800');
	--chat-bar-bg: theme('colors.mamba.900');
	--highlight: theme('colors.fuchsia.500');
	--highlight-dark: theme('colors.fuchsia.700');
}

/* Leaf Theme */
:root[data-theme='leaf'] {
	--btn-bg: theme('colors.eucalyptus.500');
	--btn-hover-bg: theme('colors.eucalyptus.600');
	--page-bg: theme('colors.white');
	--primary-card-bg: theme('colors.white');
	--secondary-card-bg: theme('colors.eucalyptus.50');
	--form-border: theme('colors.eucalyptus.300');
	--form-focus-border: theme('colors.wisteria.500');
	--form-bg: theme('colors.white');
	--link-color: theme('colors.wisteria.600');
	--link-hover-color: theme('colors.wisteria.700');
	--text-color: theme('colors.eucalyptus.900');
	--placeholder-color: theme('colors.eucalyptus.400');
	--user-bubble-bg: theme('colors.eucalyptus.100');
	--bot-bubble-bg: theme('colors.wisteria.100');
	--chat-bar-bg: theme('colors.eucalyptus.50');
	--highlight: theme('colors.lightning.400');
	--highlight-dark: theme('colors.lightning.600');
}

:root[data-theme='leaf'][data-mode='dark'] {
	--btn-bg: theme('colors.lightning.600');
	--btn-hover-bg: theme('colors.lightning.600');
	--page-bg: theme('colors.eucalyptus.950');
	--primary-card-bg: theme('colors.eucalyptus.900');
	--secondary-card-bg: theme('colors.eucalyptus.800');
	--form-border: theme('colors.eucalyptus.700');
	--form-focus-border: theme('colors.lightning.400');
	--form-bg: theme('colors.eucalyptus.900');
	--link-color: theme('colors.wisteria.400');
	--link-hover-color: theme('colors.wisteria.300');
	--text-color: theme('colors.eucalyptus.50');
	--placeholder-color: theme('colors.eucalyptus.600');
	--user-bubble-bg: theme('colors.eucalyptus.800');
	--bot-bubble-bg: theme('colors.wisteria.700');
	--chat-bar-bg: theme('colors.eucalyptus.900');
	--highlight: theme('colors.lightning.400');
	--highlight-dark: theme('colors.lightning.600');
}

/* Blush Theme */
:root[data-theme='blush'] {
	--btn-bg: theme('colors.mandy.500');
	--btn-hover-bg: theme('colors.mandy.600');
	--page-bg: theme('colors.white');
	--primary-card-bg: theme('colors.white');
	--secondary-card-bg: theme('colors.mandy.50');
	--form-border: theme('colors.mandy.300');
	--form-focus-border: theme('colors.cornflower.500');
	--form-bg: theme('colors.white');
	--link-color: theme('colors.zest.600');
	--link-hover-color: theme('colors.zest.700');
	--text-color: theme('colors.mandy.900');
	--placeholder-color: theme('colors.mandy.400');
	--user-bubble-bg: theme('colors.mandy.100');
	--bot-bubble-bg: theme('colors.zest.100');
	--chat-bar-bg: theme('colors.mandy.50');
	--highlight: theme('colors.cornflower.400');
	--highlight-dark: theme('colors.cornflower.600');
}

:root[data-theme='blush'][data-mode='dark'] {
	--btn-bg: theme('colors.cornflower.500');
	--btn-hover-bg: theme('colors.cornflower.600');
	--page-bg: theme('colors.mandy.950');
	--primary-card-bg: theme('colors.mandy.900');
	--secondary-card-bg: theme('colors.mandy.800');
	--form-border: theme('colors.mandy.700');
	--form-focus-border: theme('colors.cornflower.400');
	--form-bg: theme('colors.mandy.900');
	--link-color: theme('colors.zest.400');
	--link-hover-color: theme('colors.zest.300');
	--text-color: theme('colors.mandy.50');
	--placeholder-color: theme('colors.mandy.600');
	--user-bubble-bg: theme('colors.mandy.800');
	--bot-bubble-bg: theme('colors.zest.800');
	--chat-bar-bg: theme('colors.mandy.900');
	--highlight: theme('colors.cornflower.400');
	--highlight-dark: theme('colors.cornflower.600');
}

/* Glow Theme */
:root[data-theme='glow'] {
	--btn-bg: theme('colors.fern.500');
	--btn-hover-bg: theme('colors.fern.600');
	--page-bg: theme('colors.white');
	--primary-card-bg: theme('colors.white');
	--secondary-card-bg: theme('colors.fern.50');
	--form-border: theme('colors.fern.300');
	--form-focus-border: theme('colors.pumpkin.500');
	--form-bg: theme('colors.white');
	--link-color: theme('colors.java.600');
	--link-hover-color: theme('colors.java.700');
	--text-color: theme('colors.fern.900');
	--placeholder-color: theme('colors.fern.400');
	--user-bubble-bg: theme('colors.fern.100');
	--bot-bubble-bg: theme('colors.java.100');
	--chat-bar-bg: theme('colors.fern.50');
	--highlight: theme('colors.pumpkin.400');
	--highlight-dark: theme('colors.pumpkin.600');
}

:root[data-theme='glow'][data-mode='dark'] {
	--btn-bg: theme('colors.pumpkin.500');
	--btn-hover-bg: theme('colors.pumpkin.600');
	--page-bg: theme('colors.fern.950');
	--primary-card-bg: theme('colors.fern.900');
	--secondary-card-bg: theme('colors.fern.800');
	--form-border: theme('colors.fern.700');
	--form-focus-border: theme('colors.pumpkin.400');
	--form-bg: theme('colors.fern.900');
	--link-color: theme('colors.java.400');
	--link-hover-color: theme('colors.java.300');
	--text-color: theme('colors.fern.50');
	--placeholder-color: theme('colors.fern.600');
	--user-bubble-bg: theme('colors.fern.800');
	--bot-bubble-bg: theme('colors.java.800');
	--chat-bar-bg: theme('colors.fern.900');
	--highlight: theme('colors.pumpkin.400');
	--highlight-dark: theme('colors.pumpkin.600');
}

/* Ocean Theme */
:root[data-theme='ocean'] {
	--btn-bg: theme('colors.curious.500');
	--btn-hover-bg: theme('colors.curious.600');
	--page-bg: theme('colors.white');
	--primary-card-bg: theme('colors.white');
	--secondary-card-bg: theme('colors.curious.50');
	--form-border: theme('colors.curious.300');
	--form-focus-border: theme('colors.magenta.500');
	--form-bg: theme('colors.white');
	--link-color: theme('colors.meadow.600');
	--link-hover-color: theme('colors.meadow.700');
	--text-color: theme('colors.curious.900');
	--placeholder-color: theme('colors.curious.400');
	--user-bubble-bg: theme('colors.curious.100');
	--bot-bubble-bg: theme('colors.meadow.100');
	--chat-bar-bg: theme('colors.curious.50');
	--highlight: theme('colors.magenta.400');
	--highlight-dark: theme('colors.magenta.600');
}

:root[data-theme='ocean'][data-mode='dark'] {
	--btn-bg: theme('colors.magenta.500');
	--btn-hover-bg: theme('colors.magenta.600');
	--page-bg: theme('colors.curious.950');
	--primary-card-bg: theme('colors.curious.900');
	--secondary-card-bg: theme('colors.curious.800');
	--form-border: theme('colors.curious.700');
	--form-focus-border: theme('colors.magenta.400');
	--form-bg: theme('colors.curious.900');
	--link-color: theme('colors.meadow.400');
	--link-hover-color: theme('colors.meadow.300');
	--text-color: theme('colors.curious.50');
	--placeholder-color: theme('colors.curious.600');
	--user-bubble-bg: theme('colors.curious.800');
	--bot-bubble-bg: theme('colors.meadow.800');
	--chat-bar-bg: theme('colors.curious.900');
	--highlight: theme('colors.magenta.400');
	--highlight-dark: theme('colors.magenta.600');
}
