:root[data-theme='simple'] {
	--btn-bg: theme('colors.gray.500');
	--btn-hover-bg: theme('colors.gray.600');
	--page-bg: theme('colors.white');
	--primary-card-bg: theme('colors.white');
	--secondary-card-bg: theme('colors.gray.100');
	--form-border: theme('colors.gray.300');
	--form-focus-border: theme('colors.gray.500');
	--form-bg: theme('colors.white');
	--link-color: theme('colors.gray.700');
	--link-hover-color: theme('colors.gray.800');
	--text-color: theme('colors.gray.900');
	--placeholder-color: theme('colors.gray.400');
	--user-bubble-bg: theme('colors.gray.200');
	--bot-bubble-bg: theme('colors.gray.300');
	--chat-bar-bg: theme('colors.gray.100');
	--highlight: theme('colors.gray.400');
	--highlight-dark: theme('colors.gray.600');
}
:root[data-theme='simple'][data-mode='dark'] {
	--btn-bg: theme('colors.gray.700');
	--btn-hover-bg: theme('colors.gray.800');
	--page-bg: theme('colors.gray.900');
	--primary-card-bg: theme('colors.gray.800');
	--secondary-card-bg: theme('colors.gray.700');
	--form-border: theme('colors.gray.600');
	--form-focus-border: theme('colors.gray.500');
	--form-bg: theme('colors.gray.800');
	--link-color: theme('colors.gray.400');
	--link-hover-color: theme('colors.gray.500');
	--text-color: theme('colors.gray.100');
	--placeholder-color: theme('colors.gray.500');
	--user-bubble-bg: theme('colors.gray.600');
	--bot-bubble-bg: theme('colors.gray.700');
	--chat-bar-bg: theme('colors.gray.800');
	--highlight: theme('colors.gray.500');
	--highlight-dark: theme('colors.gray.700');
}

:root[data-theme='leaf'] {
	--btn-bg: theme('colors.green.600');
	--btn-hover-bg: theme('colors.green.700');
	--page-bg: theme('colors.green.50');
	--primary-card-bg: theme('colors.white');
	--secondary-card-bg: theme('colors.green.100');
	--form-border: theme('colors.green.300');
	--form-focus-border: theme('colors.green.500');
	--form-bg: theme('colors.white');
	--link-color: theme('colors.green.700');
	--link-hover-color: theme('colors.green.800');
	--text-color: theme('colors.gray.900');
	--placeholder-color: theme('colors.green.300');
	--user-bubble-bg: theme('colors.green.200');
	--bot-bubble-bg: theme('colors.green.300');
	--chat-bar-bg: theme('colors.green.100');
	--highlight: theme('colors.green.300');
	--highlight-dark: theme('colors.green.600');
}
:root[data-theme='leaf'][data-mode='dark'] {
	--btn-bg: theme('colors.green.700');
	--btn-hover-bg: theme('colors.green.800');
	--page-bg: theme('colors.gray.900');
	--primary-card-bg: theme('colors.gray.800');
	--secondary-card-bg: theme('colors.gray.700');
	--form-border: theme('colors.green.600');
	--form-focus-border: theme('colors.green.500');
	--form-bg: theme('colors.gray.800');
	--link-color: theme('colors.green.400');
	--link-hover-color: theme('colors.green.500');
	--text-color: theme('colors.gray.100');
	--placeholder-color: theme('colors.green.700');
	--user-bubble-bg: theme('colors.green.600');
	--bot-bubble-bg: theme('colors.green.800');
	--chat-bar-bg: theme('colors.gray.800');
	--highlight: theme('colors.green.600');
	--highlight-dark: theme('colors.green.900');
}

:root[data-theme='ocean'] {
	--btn-bg: theme('colors.blue.500');
	--btn-hover-bg: theme('colors.blue.600');
	--page-bg: theme('colors.blue.50');
	--primary-card-bg: theme('colors.white');
	--secondary-card-bg: theme('colors.blue.100');
	--form-border: theme('colors.blue.300');
	--form-focus-border: theme('colors.blue.500');
	--form-bg: theme('colors.white');
	--link-color: theme('colors.blue.600');
	--link-hover-color: theme('colors.blue.700');
	--text-color: theme('colors.gray.900');
	--placeholder-color: theme('colors.blue.300');
	--user-bubble-bg: theme('colors.blue.200');
	--bot-bubble-bg: theme('colors.blue.300');
	--chat-bar-bg: theme('colors.blue.50');
	--highlight: theme('colors.blue.300');
	--highlight-dark: theme('colors.blue.600');
}
:root[data-theme='ocean'][data-mode='dark'] {
	--btn-bg: theme('colors.blue.700');
	--btn-hover-bg: theme('colors.blue.800');
	--page-bg: theme('colors.gray.900');
	--primary-card-bg: theme('colors.gray.800');
	--secondary-card-bg: theme('colors.gray.700');
	--form-border: theme('colors.blue.600');
	--form-focus-border: theme('colors.blue.500');
	--form-bg: theme('colors.gray.800');
	--link-color: theme('colors.blue.400');
	--link-hover-color: theme('colors.blue.500');
	--text-color: theme('colors.gray.100');
	--placeholder-color: theme('colors.blue.700');
	--user-bubble-bg: theme('colors.blue.600');
	--bot-bubble-bg: theme('colors.blue.700');
	--chat-bar-bg: theme('colors.gray.800');
	--highlight: theme('colors.blue.600');
	--highlight-dark: theme('colors.blue.900');
}

:root[data-theme='glow'] {
	--btn-bg: theme('colors.amber.500');
	--btn-hover-bg: theme('colors.amber.600');
	--page-bg: theme('colors.amber.50');
	--primary-card-bg: theme('colors.white');
	--secondary-card-bg: theme('colors.amber.100');
	--form-border: theme('colors.amber.300');
	--form-focus-border: theme('colors.amber.500');
	--form-bg: theme('colors.white');
	--link-color: theme('colors.amber.700');
	--link-hover-color: theme('colors.amber.800');
	--text-color: theme('colors.gray.900');
	--placeholder-color: theme('colors.amber.300');
	--user-bubble-bg: theme('colors.amber.200');
	--bot-bubble-bg: theme('colors.amber.300');
	--chat-bar-bg: theme('colors.amber.50');
	--highlight: theme('colors.amber.300');
	--highlight-dark: theme('colors.amber.600');
}
:root[data-theme='glow'][data-mode='dark'] {
	--btn-bg: theme('colors.amber.700');
	--btn-hover-bg: theme('colors.amber.800');
	--page-bg: theme('colors.gray.900');
	--primary-card-bg: theme('colors.gray.800');
	--secondary-card-bg: theme('colors.gray.700');
	--form-border: theme('colors.amber.600');
	--form-focus-border: theme('colors.amber.500');
	--form-bg: theme('colors.gray.800');
	--link-color: theme('colors.amber.400');
	--link-hover-color: theme('colors.amber.500');
	--text-color: theme('colors.gray.100');
	--placeholder-color: theme('colors.amber.700');
	--user-bubble-bg: theme('colors.amber.600');
	--bot-bubble-bg: theme('colors.amber.700');
	--chat-bar-bg: theme('colors.gray.800');
	--highlight: theme('colors.amber.600');
	--highlight-dark: theme('colors.amber.900');
}

:root[data-theme='blush'] {
	--btn-bg: theme('colors.pink.400');
	--btn-hover-bg: theme('colors.pink.500');
	--page-bg: theme('colors.white');
	--primary-card-bg: theme('colors.pink.300');
	--secondary-card-bg: theme('colors.gray.100');
	--form-border: theme('colors.pink.300');
	--form-focus-border: theme('colors.pink.200');
	--form-bg: theme('colors.white');
	--link-color: theme('colors.pink.600');
	--link-hover-color: theme('colors.pink.700');
	--text-color: theme('colors.gray.800');
	--placeholder-color: theme('colors.gray.400');
	--user-bubble-bg: theme('colors.pink.200');
	--bot-bubble-bg: theme('colors.pink.300');
	--chat-bar-bg: theme('colors.white');
	--highlight: theme('colors.pink.300');
	--highlight-dark: theme('colors.pink.600');
}
:root[data-theme='blush'][data-mode='dark'] {
	--btn-bg: theme('colors.pink.500');
	--btn-hover-bg: theme('colors.pink.600');
	--page-bg: theme('colors.gray.900');
	--primary-card-bg: theme('colors.gray.800');
	--secondary-card-bg: theme('colors.pink.100');
	--form-border: theme('colors.pink.300');
	--form-focus-border: theme('colors.pink.500');
	--form-bg: theme('colors.gray.800');
	--link-color: theme('colors.pink.600');
	--link-hover-color: theme('colors.pink.700');
	--text-color: theme('colors.white');
	--placeholder-color: theme('colors.pink.300');
	--user-bubble-bg: theme('colors.pink.400');
	--bot-bubble-bg: theme('colors.pink.500');
	--chat-bar-bg: theme('colors.gray.800');
	--highlight: theme('colors.pink.600');
	--highlight-dark: theme('colors.pink.900');
}
